src/fix.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="fixMiddleware"
  targetNamespace="http://localhost:8000/fixMiddleware"
  xmlns="http://localhos:8000/fixMiddleware"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:message name="echoRequest">
    <wsdl:part name="msg" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="echoResponse">
    <wsdl:part name="res" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="sendFixMsgRequest">
    <wsdl:part name="msg" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="sendFixMsgResponse">
    <wsdl:part name="res" type="xs:string"></wsdl:part>
  </wsdl:message>


  <wsdl:portType name="execP">
    <wsdl:operation name="echo">
      <wsdl:input message="echoRequest"></wsdl:input>
      <wsdl:output message="echoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendFixMsg">
      <wsdl:input message="sendFixMsgRequest"></wsdl:input>
      <wsdl:output message="sendFixMsgResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="execB" type="execP">
    <soap:binding style="rpc" 
      transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="echo">
      <soap:operation soapAction="echo"/>
      <wsdl:input>
        <soap:body use="literal" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="sendFixMsg">
      <soap:operation soapAction="sendFixMsg"/>
      <wsdl:input>
        <soap:body use="literal" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="fixService">
    <wsdl:port name="exec" binding="execB">
      <soap:address location="http://localhost:8000/fixMiddleware"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
